.Navbar {
  background: #fff;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.header {
  background-color: rgb(245, 159, 159);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
  font-weight: 800;
}

.sortElem {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sortElem > button {
  background-color: #b8b8b8;
  border: 1px solid #ffeeee;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 100%;
  font-family: Mulish;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 25px;
}
.sortElem > button:hover {
  background-color: rgb(255, 225, 225);
}

.optionally {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.optionally > div {
  height: 30px;
  width: 90%;
}
